p {
    margin-top: 15px;
}

.details-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.selected-container {
    width: 90%;
    display: flex;
}

.large-image {
    height: 60vh;
}

.image-content {
    margin-left: 20px;
    width: 30vw;
}